* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.header-top {
  position: sticky;
  top: 0;
  background: #000;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}

nav {
  width: 90%;
  min-height: 9vh; /*css hacked or trick */
  line-height: 9vh; /*for verticaly center texts*/
  margin: auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
}

ul li {
  list-style: none;
  margin: 0 20px;
  padding: 20px 0;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 17px;
}

section {
    min-height: 100vh;
}
section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/*   color: coral;
  color: chartreuse;
  color: chocolate;
  color: cadetblue; */

  .trans {
    position: absolute;
    z-index: -10;
    background-color: coral;
  }